name = "vigil-api"
main = "src/index.ts"
compatibility_date = "2026-01-01"
compatibility_flags = [ "nodejs_compat" ]

# Durable Objects
[[durable_objects.bindings]]
name = "MONITOR"
class_name = "MonitorObject"

[[migrations]]
tag = "v1" # Bump this when schema changes
new_classes = ["MonitorObject"]

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "vigil-db"
database_id = "564c610b-c0c5-4bd0-a3c8-5b49872406a4"
migrations_dir = "drizzle"